
$color-red: rgb(163, 0, 0);

$background-color: rgb(245, 245, 245);
$border-color: rgb(233, 233, 233);

$gray-light: rgb(236, 236, 236);
$gray-medium: rgb(184, 184, 184);
$gray-dark: rgb(78, 78, 78);
$color-present: rgb(255, 208, 0);
$color-success: rgb(0, 197, 0);